page-favourites {
    .back-button-text-ios{
        display: none;
    }

    .circle{
        background: #f2f2f2;
        width:15px;
        height: 15px;
        border-radius: 7.5px;
        display: -webkit-inline-box;
    }
}
