page-home {
    .adversitsement{
        background: #f2f2f2;
    }

    .card-ios{
        margin:0px;
        margin-top:10px;
        width:100%;
    }
    .chatrow{
       background: #f2f2f2; 
    }
    
    .grid{
        padding:1px;
    }
    
    .rowback{
        background: #f5f5f5;
    }
  
}
