<ion-menu [content]="content">
    <ion-header>
        <ion-list>
            <ion-grid class="gridTop">
                <ion-row>
                    <ion-col>
                        <button menuClose ion-item >
                            <img src="./assets/img/user.png" width="60px" height="60px" class="userImg"><span class="username" *ngIf="loggedUser!==null">{{loggedUser.username}} <p>Hitter</p></span>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </ion-header>

    <ion-content class="menus">

        <ion-list>
            <div *ngFor="let p of pages">
                <ion-item class="item-stable"
                      (click)="toggleGroup(p)"
                      [ngClass]="{active: isSubmenuShown(p)}">
                      <!--<i class="icon" [ngClass]="isSubmenuShown(p) ? 'md-remove' : 'md-add'"></i>-->
                      <ion-icon name={{p.iconClass}}></ion-icon>
                    &nbsp;
                    {{p.title}} 
                    <!--<ion-icon name={{isSubmenuShown(p) ? 'md-remove' : 'md-add'}} *ngIf="p.title=='About'"></ion-icon>-->
                </ion-item>
                <ion-item class="item-accordion"
                          *ngFor="let sub of p.subs" 
                          [hidden]="isSubmenuShown(p)" menuClose (click)="openPage(sub)">
                          <p class='subItem'>{{sub.title}}</p>
                </ion-item>
            </div>
        </ion-list>

    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

