.logo {
    width: 160px;
    height: auto;
    margin: 0 auto;
    padding: 4rem 0;
}
.userImg{
    border-radius: 30px;
}
.username{
       position: absolute;
       margin-top: 20px;
       margin-left: 20px;
}
.menus{
    margin-top:-30px
}

.item-ios {
    padding-left: 6px;
}



.subItem{
    margin-left:25px !important;
}